<div class="keyboard-container">
  <div class="keyboard-layout">
    @for (row of keyboardRows; track $index) {
      <div class="keyboard-row">
        @for (key of row; track key.code) {
          @if (key.code === "Dead") {
            <div class="{{ getKeyClasses(key) }}"></div>
          }
          @else {
            <button
              class="{{ getKeyClasses(key) }}"
              [ngStyle]="getKeyStyle(key)"
              (click)="onKeyClick(key)"
              [title]="getKeyTitle(key)"
              type="button">
              {{ key.display }}
            </button>
          }
        }
      </div>
    }
  </div>
</div>
